<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Head -->
<%- include('../partials/head.ejs'); %>
<!-- End Head -->

<body>
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- Main wrapper - style you can find in pages.scss -->
    <div id="main-wrapper">
        <!-- Header -->
        <%- include('../partials/header.ejs'); %>
        <!-- End Header -->
        <!-- Sidebar -->
        <%- include('../partials/sidebar.ejs'); %>
        <!-- End Sidebar -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb and right sidebar toggle -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title"><%= title %></h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="POST" action="/admin/coupon/add" class="form-horizontal">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 text-right control-label col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="discount" class="col-sm-3 text-right control-label col-form-label">Discount (in %)</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="discount" name="discount" placeholder="Discount">
                                        </div>
                                    </div>

                                    <div class="row mb-3 align-items-center">
                                        <label for="discount" class="col-sm-3 text-right control-label col-form-label">Max. applicable price</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">&#x20B9;</span>
                                                </div>
                                                <input type="text" id="maxApplicablePrice" name="maxApplicablePrice" class="form-control" placeholder="Max. applicable price"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="maxUses" class="col-sm-3 text-right control-label col-form-label">Max. uses</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="maxUses" name="maxUses" placeholder="Max. uses">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="expiresOn" class="col-sm-3 text-right control-label col-form-label">Expire on</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="expiresOn" name="expiresOn" placeholder="dd/mm/yyyy"/>
                                                <div class="input-group-append">
                                                    <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-right control-label col-form-label">Active</label>
                                        <div class="col-md-9">
                                            <select name="isActive" id="isActive" class="form-control custom-select" style="width: 100%; height:36px;">
                                                <option selected disabled>Select</option>
                                                    <option value="1">True</option>
                                                    <option value="0">False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body save-btn-row">
                                        <input type="submit" value="Save" class="btn btn-primary">
                                        <a href="/admin/coupons" class="btn btn-secondary">Back</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Container fluid  -->
            <!-- Footer -->
            <%- include('../partials/footer.ejs'); %>
            <!-- End Footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/js/pages/mask/mask.init.js"></script>
    <script src="/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/libs/select2/dist/js/select2.min.js"></script>
    <script src="/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function() {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#expiresOn').datepicker({
            autoclose: true,
            todayHighlight: true
        });

    </script>
</body>

</html>